.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input {
  display: flex;
  flex-direction: column;
}
.input > h5 {
  flex: 1;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
}
.input > input {
  flex: 2;
  border: none;
  background: none;
  padding: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.form > button {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
