.skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skills>button {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid var(--text-color);
  padding: 0.25rem 0;
  font-weight: 600;
  cursor: pointer;
}
.skills>button>div:last-child {
  margin-left: auto;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input>div {
  display: flex;
  gap: 0.25rem;
}
.input>div>input {
  width: 75%;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  background: #fff;
  border: none;
  padding: 0.25rem;
}
.input>div>button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}