.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.sidebar {
  background: var(--text-color);
  width: 4rem;
}
.sidebar_button {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--text-color);
  top: calc(50% - 4rem);
  left: 2rem;
  cursor: pointer;
}
.sidebar_button>svg {
  width: 1.4rem;
  height: 1.4rem;
}
.sidebar_content {
  background: var(--text-color);
  box-sizing: border-box;
}
.content {
  flex-grow: 1;
  display: grid;
  place-items: center;
}
.outlet {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  aspect-ratio: 2/3;
  width: 600px;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px 4px #00000075;
}
.outlet_body {
  display: flex;
  flex-grow: 1;
}
.outlet_body>div:first-child {
  flex: 1;
  background: #1f1f1f1a;
  padding: 1rem;
  overflow: hidden;
}
.outlet_body>div:last-child {
  flex: 2;
  padding: 1rem;
}