.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.sidebar {
  background: var(--text-color);
  width: 4rem;
}
.sidebar_button {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--text-color);
  top: calc(50% - 4rem);
  left: 2rem;
  cursor: pointer;
}
.sidebar_button>svg {
  width: 1.4rem;
  height: 1.4rem;
}
.sidebar_content {
  background: var(--text-color);
  box-sizing: border-box;
  padding: 1rem;
}