.about {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about>h5 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.about>p {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}