.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.input>h5 {
  flex: 1;
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
}
.input>input {
  flex: 2;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
}