.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input > h5 {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}
.input > input {
  width: 80%;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0;
}
