.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.input {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid #fff;
}
.input>fieldset {
  border: 2px solid #fff;
  padding: 0.5rem;
}
.input>fieldset>legend {
  color: #fff;
  padding: 0.25rem;
  text-align: left;
}