.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input {
  display: flex;
  align-items: center;
}
.input>h5, .description>h5 {
  flex: 1;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
}
.input>input {
  flex: 2;
  border: none;
  background: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.description>textarea {
  width: 100%;
  font-size: 0.8rem;
}
.form>button {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}